script(src='/js/class/student.js')
.col-md-3.pull-right: .panel.panel-default
    .panel-body
        ul.nav.nav-pills.nav-stacked
            li: a(href='#') Forum
                span.badge.pull-right 5
            li: a(href='#') Assignments
                span.badge.pull-right 8
.col-md-9
    .col-md-12
        .spacer-10px
        h3.pull-left #{ course.name }
    .col-md-12.tab-content(ng-controller='classController' ng-init='init("#{course.id}")')
        include modules