title= title
    
link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'                    )
link(rel='stylesheet' href='/font-awesome/css/font-awesome.min.css'                   )
link(rel='stylesheet' href='/bootstrap-material/dist/css/material.min.css'            )
link(rel='stylesheet' href='/bootstrap-material/dist/css/ripples.min.css'             )
link(rel='stylesheet' href='/bootstrap-material/dist/css/material-wfont.min.css'      )
link(                 href='/bootstrap-material/dist/fonts/Material-Design-Icons.svg' )
link(rel='stylesheet' href='/toastr/toastr.min.css'                                   )
link(rel='stylesheet' href='/css/bovine.css'                                          )

script(src='/jquery/dist/jquery.min.js'                  )
script(src='/bootstrap/dist/js/bootstrap.min.js'         )
script(src='/bootstrap-material/dist/js/material.min.js' )
script(src='/bootstrap-material/dist/js/ripples.min.js'  )
script(src='/toastr/toastr.min.js'                       )
script(src='/angular/angular.min.js'                     )
script(src='/marked/lib/marked.js'                       )
script(src='/js/util.js'                                 )