block head
    script(src='js/dashboard/teacher.js')
    
block dashboard
    //ul.nav.nav-pills
        li: a(href='#classes' data-toggle='tab') Classes
    .tab-content
        .tab-pane.active#classes(ng-controller='teacherModule')
            h3 Classes
            .well.col-sm-12(ng-init='getClasses()')
                p(ng-hide='data')
                    | No classes found.  Please check with a manager or admin to make sure that you are assigned as teacher to a class
                table.table(ng-show='data')
                    thead: tr
                        td #
                        td Name
                        td Website
                        td Grade
                        td
                    tbody: tr(ng-repeat='class in data')
                        td {{ $index + 1 }}
                        td {{ class.name }}
                        td {{ class.website }}
                        td {{ class.grade }}
                        td
                            .btn-group
                                a.btn.btn-default(href='/admin/class/edit?target={{ record.id }}'): .fa.fa-gear
                                button.btn.btn-default(ng-click='remove(record.id)'): .fa.fa-remove