extends page

block content
    script(src='/js/accountController.js')
    .panel(ng-controller='accountController'): .panel-body
        h1 Account
        h4 Username: 
            code #{user.username}
        h4 Email:
            code #{user.email}
        h4 Enrolled School:
            //code #{user.school}
            code TODO:  Work on school variable
        h4 Enrolled Courses:
        table.table.table-default.table-striped
            thead: tr
                th: strong Course ID
                th: strong Name
                th: strong Instructor
            tbody(ng-init='getEnrolled()')
                tr(ng-repeat='course in enrolled')
                    td {{ course._id }}
                    td {{ course.name }}
                    td {{ course.teacher.name }}
        
        ul.nav.nav-tabs
            li.active: a(href='#' data-toggle='tab') Account
            li: a(href='#' data-toggle='tab') Preferences
            li: a(href='#' data-toggle='tab') Profile
        .panel
            .panel-head
            
            .panel-body
        
        