extends page

block content
    h1 Account
        h3 Username: 
            code #{user.username}
        h3 Email:
            code #{user.email}
        h3 Enrolled School:
            code #{user.school}  TODO:  Work on school variable
    
    h1 Settings
        h3 Preferences
        h3 Public settings