title= title
    
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/material-wfont.min.css')
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/material.min.css')
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/ripples.min.css')
link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/fonts/Material-Design-Icons.svg')
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.0/css/toastr.min.css')
link(rel='stylesheet', href='/css/bovine.css')
    
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/material.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/ripples.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.0/js/toastr.min.js')
script(src='/js/vendor/marked.js')
script(src='/js/util.js')