head
    title= title
    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js')
    script(src='/js/buttons.js')
    script(src='/js/sweetalert.js')
    
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/bovine.css')
    link(rel='stylesheet', href='/css/buttons.css')
    link(rel='stylesheet', href='/css/sweetalert.css')