.col-md-3.hidden-sm.hidden-xs
    .panel.panel-default
        ul.nav.nav-pills.nav-stacked
            li
                a(href='#') Home
                    span.badge.pull-right 2
            li
                a(href='#') Mail
                    span.badge.pull-right 7
            li
                a(href='#') Assignments
                    span.badge.pull-right 3