body {
  margin-top: 60px;
}
.navbar .btn-group {
  float: right;
  margin: 7px;
}
.sidebar-menu,
.control-label.required:after {
  content: ' *';
  color: #f00;
}
.alert {
  margin-top: 10px;
}
.alert .fa-remove {
  float: right;
}
.tab-pane {
  margin-top: 10px;
}
.form-control {
  margin: 5px 0;
}
.btn-white {
  color: #428bca !important;
  background: #fff !important;
  -webkit-transition: background ease-in-out 0.2s;
  -moz-transition: background ease-in-out 0.2s;
  -o-transition: background ease-in-out 0.2s;
  transition: background ease-in-out 0.2s;
}
.btn-white:hover {
  background: #ececec !important;
}
tbody .btn-group {
  margin: 0;
  padding: 0 !important;
}
.nav-stacked a {
  -webkit-transition: background ease-in-out 0.2s;
  -moz-transition: background ease-in-out 0.2s;
  -o-transition: background ease-in-out 0.2s;
  transition: background ease-in-out 0.2s;
}
.panel-footer .btn {
  margin: 0;
}
.ribbon-container {
  bottom: 5px;
  position: absolute;
  padding-right: 30px;
}
.ribbon-shadow {
  bottom: 44px;
  z-index: 0;
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent #007bff transparent;
  content: "";
}
.ribbon {
  width: 100%;
  color: #fff;
  background-color: #4285f4;
}
.ribbon :before {
  display: none;
}
.ribbon h4 {
  padding: 5px;
}
.nav {
  color: rgba(255,255,255,0.84);
}
.spacer-10px {
  height: 10px;
}
.spacer-20px {
  height: 20px;
}
.pull-right button {
  margin: 0;
}
.panel-title a {
  line-height: 40px;
}
