body {
  margin-top: 60px;
}
.navbar .btn-group {
  float: right;
  margin: 7px;
}
.sidebar-menu li {
  list-style-type: none;
}
.control-label.required:after {
  content: ' *';
  color: #f00;
}
.btn-toolbar {
  margin: 10px 0;
}
.alert {
  margin-top: 10px;
}
.alert .fa-remove {
  float: right;
}
.tab-pane {
  margin-top: 10px;
}
.form-control {
  margin: 5px 0;
}
