body
    margin-top 60px

.navbar
    .btn-group
        float right
        margin 7px

.sidebar-menu
        
.control-label.required:after
    content ' *'
    color red
    
.alert
    margin-top 10px
    .fa-remove
        float right
        
.tab-pane
    margin-top 10px

.form-control
    margin 5px 0
    
.btn-white
    color black !important
    background white !important
    -webkit-transition background ease-in-out .2s
    -moz-transition background ease-in-out .2s
    -o-transition background ease-in-out .2s
    transition background ease-in-out .2s
    
.btn-white:hover
    background #ececec !important
    
tbody
    .btn-group
        margin 0
        padding 0 !important

.nav-stacked
    a
        -webkit-transition background ease-in-out .2s
        -moz-transition background ease-in-out .2s
        -o-transition background ease-in-out .2s
        transition background ease-in-out .2s

.panel-footer
    .btn
        margin 0