.tab-pane#class
    ul.nav.nav-tabs
        li.active: a(href='#classLookup' data-toggle='tab') Find class
            div(class="ripple-wrapper")
        li: a(href='#classAdd' data-toggle='tab') Add class
            div(class="ripple-wrapper")
    .tab-content
        include add
        include edit
        include lookup