block head
    script(src='/js/dashboard/admin.js')

block dashboard
    .col-md-9.col-xs-12
        ul.nav.nav-pills
            li.active: a(href='#district' data-toggle='tab') District
            li:        a(href='#user'     data-toggle='tab') School
            li:        a(href='#class'    data-toggle='tab') Class
            li:        a(href='#school'   data-toggle='tab') User
        .tab-content
            include district/index
            include school/index
            include class/index
            include user/index