.tab-pane.active#schoolLookup(ng-controller='findSchool')
    div
        .alert.alert-success.ng-hide(ng-show='success') {{ success }}
            .fa.fa-remove(ng-click='dismissSuccess()')
        .alert.alert-danger.ng-hide(ng-show='error') {{ error }}
            .fa.fa-remove(ng-click='dismissError()')
    .well.col-sm-12
        form(novalidate)
            .col-sm-3: input.form-control(ng-model='name' placeholder='Name')
            .col-sm-3
                select.form-control(ng-model='type')
                    option(value='' selected) --Type--
                    option(value='elementary') Elementary School
                    option(value='junior') Junior High
                    option(value='high') High School
                    option(value='college') College
                    option(value='other') Other
            .col-sm-3: input.form-control(ng-model='zipcode' placeholder='Zip code')
            .col-sm-3: input.form-control(ng-model='district' placeholder='District')
            .col-sm-3: input.form-control(ng-model='city' placeholder='City')
            .col-sm-3: input.form-control(ng-model='state' placeholder='State')
            .col-sm-6: button.form-control(type='submit' ng-click='lookup(name, type)') Search
    .well.col-sm-12.ng-hide(ng-show='data')
        table.table
            thead: tr
                td #
                td Name
                td Type
                td Website
                td Zip code
                td District
                td City
                td State
                td
            tbody: tr(ng-repeat='record in data')
                td {{ $index + 1 }}
                td {{ record.name }}
                td {{ record.type }}
                td {{ record.website }}
                td {{ record.zipcode }}
                td {{ record.district }}
                td {{ record.city }}
                td {{ record.state }}
                td
                    .btn-group
                        button.btn.btn-default(ng-click='shareTarget(record.id)' data-toggle='modal' data-target='#schoolEdit'): .fa.fa-gear
                        button.btn.btn-default(ng-click='remove(record.id)'): .fa.fa-remove