#userEdit.modal.fade(tabindex='-1' role='dialog' aria-hidden='true'): .modal-dialog: .modal-content
    .modal-body
        div(ng-controller='editUser')
            h3 Edit user
            .alert.alert-success(ng-show='success'): {{success}}
            .alert.alert-danger(ng-show='error'): {{error}}
            form.form-horizontal(novalidate)
                input#userEdit_chrome_autofill_fix_user(type='text' style='display: none')
                input#userEdit_chrome_autofill_fix_pass(type='password' style='display: none')
                .form-group
                    .col-sm-2: label.control-label(for='userEdit_username') Username
                    .col-sm-10: input.form-control#userEdit_username(type='text' ng-model='target.username')
                .form-group
                    .col-sm-2: label.control-label(for='userEdit_email') Email
                    .col-sm-10: input.form-control#userEdit_email(type='email' ng-model='target.email')
                .form-group
                    .col-sm-2: label.control-label(for='userEdit_password') Password
                    .col-sm-10: input.form-control#userEdit_password(type='password' ng-model='target.password' placeholder='Enter new password')
                .form-group
                    .col-sm-1: label.control-label Name
                    .col-sm-11
                        .col-sm-4: input.form-control#userEdit_firstname(type='text' ng-model='target.firstName')
                        .col-sm-4: input.form-control#userEdit_middlename(type='text' ng-model='target.middleName')
                        .col-sm-4: input.form-control#userEdit_lastname(type='text' ng-model='target.lastName')
                .form-group
                    .col-sm-2: label.control-label(for='userEdit_school') School
                    .col-sm-10: select.form-control#userEdit_school(ng-model='school' ng-options='school for school in schools')
                .form-group
                    .col-sm-2: label.control-label(for='userEdit_role') Role
                    .col-sm-10
                        select.form-control#userEdit_role(ng-model='target.role')
                            option(value='1') Student
                            option(value='2') Teacher
                            option(value='3') Manager
                            option(value='4') Admin
               .form-group
                   .col-sm-2: label.control-label(for='userEdit_grade') Grade
                   .col-sm-10: input.form-control#userEdit_grade(type='number' ng-model='target.grade')
               .form-group
                   .col-sm-2: label.control-label(for='userEdit_id') ID
                   .col-sm-10: input.form-control#userEdit_id(type='text' ng-model='target.id' disabled)
               .modal-footer
                   button.btn.btn-primary(type='submit' ng-click='write()') Save Changes