.tab-pane.active#userLookup(ng-controller='findUser')
    .well.col-sm-12
        form(novalidate)
            .col-md-2: input.form-control(type='text' ng-model='username'   placeholder='Username'   )
            .col-md-2: input.form-control(type='text' ng-model='firstName'  placeholder='First name' )
            .col-md-2: input.form-control(type='text' ng-model='middleName' placeholder='Middle name')
            .col-md-2: input.form-control(type='text' ng-model='lastName'   placeholder='Last name'  )
            .col-md-2: input.form-control(type='text' ng-model='email'      placeholder='Email'      )
            .col-md-2: button.form-control(type='submit' ng-click='lookup(username, firstName, middleName, lastName, email)') Search
    .well.col-sm-12.ng-hide(ng-show='data')
        table.table
            thead: tr
                td #
                td Username
                td Email
                td Full Name
                td Id
                td
            tbody: tr(ng-repeat='record in data')
                td {{ $index + 1       }}
                td {{ record.username  }}
                td {{ record.email     }}
                td {{ record.firstName }} {{ record.middleName }} {{ record.lastName }}
                td {{ record.id        }}
                td.btn-group
                    button.btn.btn-primary(ng-click='shareTarget(record.id)' data-toggle='modal' data-target='#userEdit'): .fa.fa-gear
                    button.btn.btn-primary(ng-click='remove(record.id)'): .fa.fa-remove