extends ../dashboard

block head
    script(src='/js/user_add.js')

block content
    div(ng-controller='userEditorController')
        h3 Add new user
        .alert.alert-success(ng-show='success'): {{success}}
        .alert.alert-danger(ng-show='error'): {{error}}
        .well.col-sm-12
            form.form-horizontal(novalidate)
                input#chrome_autofill_fix_user(type='text' style='display: none')
                input#chrome_autofill_fix_pass(type='password' style='display: none')
                .form-group.col-sm-4
                    label.required.control-label.col-sm-4(for='username') Username
                    .col-sm-8: input.form-control#username(type='text' ng-model='username')
                .form-group.col-sm-4
                    label.required.control-label.col-sm-4(for='email') Email
                    .col-sm-8: input.form-control#email(type='email' ng-model='email')
                .form-group.col-sm-4
                    label.required.control-label.col-sm-4(for='password') Password
                    .col-sm-8: input.form-control#password(type='password' ng-model='password')
                .form-group.col-sm-12
                    label.required.control-label.col-sm-1 Name
                    .col-sm-11
                        .col-sm-4: input.form-control#firstname(type='text' ng-model='firstName')
                        .col-sm-4: input.form-control#middlename(type='text' ng-model='middleName')
                        .col-sm-4: input.form-control#lastname(type='text' ng-model='lastName')
                .form-group.col-sm-6
                    label.control-label.col-sm-2(for='school') School
                    .col-sm-10: select.form-control#school(ng-model='school' ng-options='school for school in schools')
                .form-group.col-sm-3
                    label.required.control-label.col-sm-4(for='role') Role
                    .col-sm-8
                        select.form-control#role(ng-model='role')
                            option(value='student') Student
                            option(value='teacher') Teacher
                            option(value='manager') Manager
                            option(value='admin') Admin
                .form-group.col-sm-3
                    label.required.control-label.col-sm-4(for='grade') Grade
                    .col-sm-8: input.form-control#grade(type='number' ng-model='grade')
                .form-group.col-sm-4
                    label.control-label.col-sm-2(for='id') ID
                    .col-sm-10: input.form-control#id(type='text' ng-model='id' disabled)
                .form-group.col-sm-12
                    .col-sm-offset-5.col-sm-2: button.col-md-11.form-control(type='submit' ng-click='write(id, username, email, password, firstName, middleName, lastName, school, role, grade)') Save Changes